* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-weight: 400;
  color: #8438;
}

ul {
  list-style-type: none;
}

.language-selector {
  width: 95%;
  height: 25vh;
  margin: 3% auto;
  padding: 3%;
}

.language-selector h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}
